body {
    margin: 0;
    padding: 0;
  
}

h1{
    text-align: center;
    background-image: linear-gradient(to right, rgb(69, 69, 204) , rgb(193, 193, 233), blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



#map { 
    display: block;
    height: 500px; 
    width: min(300px) max(1000px);
    text-align: center;
    border-radius: 15px;
    box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.2);
    outline: none;
}

div {
    display: flex;
    gap: 20px;
}

.footer{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.h {
    color: blue;
    background-image: none;
    -webkit-text-fill-color: blue;
}

p { 
     background-image: linear-gradient(to right, rgb(69, 69, 204) , rgb(193, 193, 233), blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 35px;
}

#recenter {
    padding: 10px 10px 10px 10px;
    color: white;
    border: none;
    background-color: rgb(69, 69, 204);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.2);
}

@media only  screen and (min-width:1000px) {
   #map {
    margin-top: 50px;
    margin-left: min(0) max(250px);

   }
}